@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#react-application {
  display: flex;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin: 0, 1rem, 0, 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0, 1rem, 0, 1rem;
  }
}
